1) Настроить и установить:
    - git
    - webpack
    - eslint

2) реализовать календарь:
    - стрелки для прокрутки месяцев
    - при нажатии на дату появляется меню, где можно выбрать(создать) заметку, указать когда был интим, месячные, овуляция
    - расчет цикла месячных

3) реализовать заметки:
    - созданные заметки отображаются по датам

3) меню настройки:
    - ввод данных для расчета цикла(длина месяных, длина цикла и т.д.)

4) добавить рекламму
